<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/resources/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/resources/popper/popper.min.js"></script>
<script type="text/javascript"
	src="/resources/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/defaultHeader :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col col-lg-2">
				<div class="card" style="width: 18rem;">
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:each="conversation :${conversations}">
							<form action="currentConversation" method="post">
								<input type="hidden" name="conversationId" th:attr="value=#{conversation.id}">
								<button type="submit" class="btn btn-outline-secondary" th:text="#{conversation.title}">Secondary</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-auto">currentConversation</div>
		</div>
	</div>
</body>
</html>